.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

#container {
  width: min-content;
  height: min-content;
  border: 1px solid;
}

#container > div {
  display: flex;
}

.input-cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  border: 1px solid black;
  padding: 1px 2px;
}

.error {
  color: #ff00009e;
}

input {
  width: 18px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  caret-color: transparent;
}

input:focus-visible {
  outline: none;
}
